<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1280" height="640" scale="2" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="Mapa.tmx">
			<parallax>
				<layer name="mountain1" path="Assets/Textures/Parallax/Mountain1OFF.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="20" repeatNum="8" slowY="30" />
				<layer name="mountain2" path="Assets/Textures/Parallax/Mountain2OFF.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="10" repeatNum="8" slowY="5" />
				<layer name="cloud1" path="Assets/Textures/Parallax/Cloud1X2.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="5" repeatNum="6" slowY="1" />
				<layer name="moon" path="Assets/Textures/Parallax/MoonX2.png" marginX="480" marginY="0" spacing="0" width="640" height="360" slowX="2" repeatNum="1" slowY="1" />
				<layer name="cloud2" path="Assets/Textures/Parallax/Cloud2X2.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="4" repeatNum="6" slowY="1" />
				<layer name="cloud3" path="Assets/Textures/Parallax/Cloud3X2.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="3" repeatNum="6" slowY="1" />
				<layer name="sky" path="Assets/Textures/Parallax/SkyX2.png" marginX="0" marginY="0" spacing="0" width="640" height="360" slowX="1" repeatNum="6" slowY="1" />
			</parallax>
		</map>
		<entities>
			<player x="25" y="350" w="64" h="64" t_w="64" t_h="64" lives="3" texture="Assets/Textures/GhostCharacter/Ghost_Sheet_Resized.png" t_texture="Assets/Textures/Pumpkin Head/pumpkinhead_sheet2.png">
				<propierties jumpForce="0.6f" pushForce="0.5f" moveSpeed="0.2f" friction="2.0f" gravity="1.2f" attack1Time="0.8sf" attack2Time="1.2f" hurtTime="1.0f" respawnTime=" 2.0f" playerState="0" direction="1" />
				<animations>
					<idle loop="true" speed="0.2f">
						<frame x="0" y="0" w="64" h="64" />
						<frame x="64" y="0" w="64" h="64" />
						<frame x="128" y="0" w="64" h="64" />
						<frame x="192" y="0" w="64" h="64" />
						<frame x="256" y="0" w="64" h="64" />
						<frame x="320" y="0" w="64" h="64" />
						<frame x="384" y="0" w="64" h="64" />
						<frame x="448" y="0" w="64" h="64" />
					</idle>
					<walk loop="true" speed="0.1f">
						<frame x="0" y="64" w="64" h="64" />
						<frame x="64" y="64" w="64" h="64" />
						<frame x="128" y="64" w="64" h="64" />
						<frame x="192" y="64" w="64" h="64" />
					</walk>
					<jump loop="false" speed="0.2f">
						<frame x="0" y="128" w="64" h="64" />
						<frame x="64" y="128" w="64" h="64" />
						<frame x="128" y="128" w="64" h="64" />
					</jump>
					<fall loop="false" speed=" 0.2f">
						<frame x="0" y="192" w="64" h="64" />
						<frame x="64" y="192" w="64" h="64" />
						<frame x="128" y="192" w="64" h="64" />
					</fall>
					<hurt loop="false" speed="0.15f">
						<frame x="0" y="256" w="64" h="64" />
						<frame x="64" y="256" w="64" h="64" />
						<frame x="128" y="256" w="64" h="64" />
						<frame x="192" y="256" w="64" h="64" />
					</hurt>
					<death loop="false" speed="0.2f">
						<frame x="0" y="320" w="64" h="64" />
						<frame x="64" y="320" w="64" h="64" />
						<frame x="128" y="320" w="64" h="64" />
						<frame x="192" y="320" w="64" h="64" />
						<frame x="256" y="320" w="64" h="64" />
						<frame x="320" y="320" w="64" h="64" />
					</death>
					<t_idle loop="true" speed="0.1f">
						<frame x="0" y="0" w="64" h="64" />
					</t_idle>
					<t_walk loop="true" speed="0.1f">
						<frame x="0" y="0" w="64" h="64" />
						<frame x="64" y="0" w="64" h="64" />
						<frame x="128" y="0" w="64" h="64" />
						<frame x="192" y="0" w="64" h="64" />
					</t_walk>
					<t_jump>
						<frame x="0" y="0" w="64" h="64" />
						<frame x="64" y="0" w="64" h="64" />
					</t_jump>
					<t_fall>
						<frame x="192" y="0" w="64" h="64" />
						<frame x="128" y="0" w="64" h="64" />
					</t_fall>
					<t_spell1 loop="false" speed="0.2f">
						<frame x="0" y="64" w="64" h="64" />
						<frame x="64" y="64" w="64" h="64" />
						<frame x="128" y="64" w="64" h="64" />
						<frame x="192" y="64" w="64" h="64" />
						<frame x="256" y="64" w="64" h="64" />
						<frame x="320" y="64" w="64" h="64" />
						<frame x="384" y="64" w="64" h="64" />
						<frame x="448" y="64" w="64" h="64" />
					</t_spell1>
					<t_hurt loop="false" speed="0.1f">
						<frame x="0" y="128" w="64" h="64" />
						<frame x="64" y="128" w="64" h="64" />
						<frame x="128" y="128" w="64" h="64" />
					</t_hurt>
					<t_death loop=" false" speed="0.2f">
						<frame x="0" y="192" w="64" h="64" />
						<frame x="64" y="192" w="64" h="64" />
						<frame x="128" y="192" w="64" h="64" />
						<frame x="192" y="192" w="64" h="64" />
						<frame x="256" y="192" w="64" h="64" />
						<frame x="320" y="192" w="64" h="64" />
						<frame x="384" y="192" w="64" h="64" />
						<frame x="448" y="192" w="64" h="64" />
					</t_death>
					<t_spell2 loop="false" speed="0.1f">
						<frame x="0" y="256" w="64" h="64" />
						<frame x="64" y="256" w="64" h="64" />
						<frame x="128" y="256" w="64" h="64" />
						<frame x="192" y="256" w="64" h="64" />
						<frame x="256" y="256" w="64" h="64" />
						<frame x="320" y="256" w="64" h="64" />
						<frame x="384" y="256" w="64" h="64" />
						<frame x="448" y="256" w="64" h="64" />
						<frame x="512" y="256" w="64" h="64" />
						<frame x="576" y="256" w="64" h="64" />
						<frame x="640" y="256" w="64" h="64" />
					</t_spell2>
				</animations>
			</player>
			<enemies>
				<groundEnemy>
					<skeleton x="100" y="420" w="48" h="48" texture="Assets/Textures/Enemies/Undead/SwordsMan-reorganized_spritesheet.png">
						<properties speed="1" chaseArea="100" attackArea="20" jumpForce="0.3f" attackTime="1.0f" />
						<animations>
							<idle loop="false" speed="0.2f">
								<frame x="0" y="0" w="48" h="48" />
								<frame x="48" y="0" w="48" h="48" />
								<frame x="96" y="0" w="48" h="48" />
								<frame x="144" y="0" w="48" h="48" />
							</idle>
							<attack loop="false" speed="0.2f">
								<frame x="0" y="48" w="48" h="48" />
								<frame x="48" y="48" w="48" h="48" />
								<frame x="96" y="48" w="48" h="48" />
								<frame x="144" y="48" w="48" h="48" />
								<frame x="0" y="48" w="48" h="48" />
							</attack>
						</animations>
					</skeleton>
				</groundEnemy>
				<flyEnemy>
					<bat x="250" y="350" w="32" h="32" texture="Assets/Textures/Enemies/Bat/Vampire/BatVampire_Sheet.png">
						<properties speed="1" chaseArea="100" />
						<animations>
							<idle>
								<frame x="0" y="0" w="48" h="48" />
								<frame x="48" y="0" w="48" h="48" />
								<frame x="96" y="0" w="48" h="48" />
								<frame x="144" y="0" w="48" h="48" />
							</idle>
						</animations>
					</bat>
				</flyEnemy>
				<paths>
					<path1>
						<point x="200" y=" 350" />
						<point x="300" y=" 350" />
					</path1>
					<path2>
						<point x="100" y=" 420" />
						<point x="275" y=" 390" />
					</path2>
				</paths>
			</enemies>
			<items>
				<pumpkin x="" y="" w=" " h="" texture="" />
			</items>
		</entities>
		<savedData saved="true">
			<player x="1784" y="195" lives="3" transformable="false" transformed="false" />
			<enemy0 alive="true" x="264" y="391" />
			<enemy1 alive="true" x="185" y="423" />
			<player x="337" y="422" lives="3" transformable="false" transformed="false" />
			<enemy0 alive="true" x="200" y="342" />
			<enemy1 alive="true" x="456" y="397" />
		</savedData>
	</scene>
	<ui path="Assets/Textures/UI/HelpMenu2.png" />
</config>
